<!DOCTYPE html>
<html>

<head>
    <title>Página Inicial</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load sweetify %}
    {% sweetify %}
    {% load static %}
</head>  

<body>
    <div class="container   
 mt-5">
        <h1> PRINCIPAL</h1>
        {% if messages %}
        <div class="alert alert-danger mt-3">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="container   
 mt-5">
            <a href="{% url 'lista_utilizadores' %}" class="btn btn-primary">Listar Utilizadores</a>
            <a href="{% url 'logout' %}" class="btn btn-primary">Sair</a>
        </div>
    </div>
</body>


</html>  